USE [db_prototipo]
GO
/****** Object:  Table [dbo].[AREAS_RESPONSABLES]    Script Date: 9/07/2024 22:56:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AREAS_RESPONSABLES](
	[ID_AREA] [int] IDENTITY(1,1) NOT NULL,
	[DSAREA] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AREAS_SOLICITANTES]    Script Date: 9/07/2024 22:56:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AREAS_SOLICITANTES](
	[ID_AREA] [int] IDENTITY(1,1) NOT NULL,
	[DSAREA] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CNF_CONFIGURACION]    Script Date: 9/07/2024 22:56:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CNF_CONFIGURACION](
	[ID_CONFIGURACION] [int] IDENTITY(1,1) NOT NULL,
	[USUARIO] [nvarchar](50) NULL,
	[AREA_RESPONSABLE] [nvarchar](100) NULL,
	[AREA_SOLICITANTE] [nvarchar](100) NULL,
	[CORREO] [nvarchar](50) NULL,
	[DESCRIPCION] [text] NULL,
	[PERIODICIDAD] [nvarchar](25) NULL,
	[ANTICIPACION] [int] NULL,
	[SANCION] [decimal](18, 2) NULL,
	[ESTADO] [int] NULL,
	[FECHA_REGISTRO] [date] NULL,
	[USUARIO_MODIFICACION] [nvarchar](50) NULL,
	[FECHA_MODIFICACION] [date] NULL,
	[DIAPUBLICACION] [date] NULL,
 CONSTRAINT [PK_CNF_CONFIGURACION] PRIMARY KEY CLUSTERED 
(
	[ID_CONFIGURACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CNF_EJECUCION]    Script Date: 9/07/2024 22:56:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CNF_EJECUCION](
	[ID_EJECUCION] [int] IDENTITY(1,1) NOT NULL,
	[ID_CONFIGURACION] [int] NOT NULL,
	[DESCRIPCION] [text] NULL,
	[FECHA_COMPROMISO] [date] NULL,
	[IMAGEN] [nvarchar](max) NULL,
	[FECHA_REGISTRO_IMAGEN] [date] NULL,
	[ESTADO] [int] NULL,
	[FECHA_REGISTRO] [date] NULL,
 CONSTRAINT [PK_CNF_EJECUCION] PRIMARY KEY CLUSTERED 
(
	[ID_EJECUCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CNF_NOTIFICACION]    Script Date: 9/07/2024 22:56:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CNF_NOTIFICACION](
	[ID_EJECUCION] [int] NOT NULL,
	[ID_CONFIGURACION] [int] NOT NULL,
	[CORREO] [nvarchar](50) NULL,
	[ESTADO] [int] NULL,
	[FECHA_ENVIO] [date] NULL,
 CONSTRAINT [PK_CNF_NOTIFICACION] PRIMARY KEY CLUSTERED 
(
	[ID_EJECUCION] ASC,
	[ID_CONFIGURACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 9/07/2024 22:56:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[ID_USUARIO] [nvarchar](50) NULL,
	[USUARIO] [nvarchar](200) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CNF_EJECUCION]  WITH CHECK ADD  CONSTRAINT [FK_CNF_EJECUCION_CONFIGURACION] FOREIGN KEY([ID_CONFIGURACION])
REFERENCES [dbo].[CNF_CONFIGURACION] ([ID_CONFIGURACION])
GO
ALTER TABLE [dbo].[CNF_EJECUCION] CHECK CONSTRAINT [FK_CNF_EJECUCION_CONFIGURACION]
GO
ALTER TABLE [dbo].[CNF_NOTIFICACION]  WITH CHECK ADD  CONSTRAINT [FK_CNF_NOTIFICACION_1] FOREIGN KEY([ID_EJECUCION])
REFERENCES [dbo].[CNF_EJECUCION] ([ID_EJECUCION])
GO
ALTER TABLE [dbo].[CNF_NOTIFICACION] CHECK CONSTRAINT [FK_CNF_NOTIFICACION_1]
GO
ALTER TABLE [dbo].[CNF_NOTIFICACION]  WITH CHECK ADD  CONSTRAINT [FK_CNF_NOTIFICACION_2] FOREIGN KEY([ID_CONFIGURACION])
REFERENCES [dbo].[CNF_CONFIGURACION] ([ID_CONFIGURACION])
GO
ALTER TABLE [dbo].[CNF_NOTIFICACION] CHECK CONSTRAINT [FK_CNF_NOTIFICACION_2]
GO
/****** Object:  StoredProcedure [dbo].[sp_carga_evidencia]    Script Date: 9/07/2024 22:56:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_carga_evidencia]
	@idconf int,
	@idejec int,
	@img nvarchar(max)
as
	update CNF_EJECUCION set IMAGEN = @img, FECHA_REGISTRO_IMAGEN = GETDATE(), ESTADO = 1
	where ID_CONFIGURACION = @idconf and ID_EJECUCION = @idejec;
GO
/****** Object:  StoredProcedure [dbo].[sp_cnf_ejecucion]    Script Date: 9/07/2024 22:56:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_cnf_ejecucion]
as
insert into CNF_EJECUCION (ID_CONFIGURACION, DESCRIPCION, FECHA_COMPROMISO, ESTADO, FECHA_REGISTRO)
select ID_CONFIGURACION, DESCRIPCION, DIAPUBLICACION, 0, GETDATE()
from CNF_CONFIGURACION
where estado = 0 and diapublicacion = cast(getdate() as date);

update CNF_CONFIGURACION set ESTADO = 1, FECHA_MODIFICACION = GETDATE(), USUARIO_MODIFICACION = 'PROCESO AUTOMÁTICO'
where estado = 0 and diapublicacion = cast(getdate() as date);
GO
/****** Object:  StoredProcedure [dbo].[sp_inserta_notificacion]    Script Date: 9/07/2024 22:56:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[sp_inserta_notificacion]
	@ID_CONFIGURACION int,
	@ID_EJECUCION int,
	@CORREO nvarchar(50)
as
declare 
	@count int
	select @count = count(*) from CNF_NOTIFICACION where ID_EJECUCION = @ID_EJECUCION and ID_EJECUCION = @ID_EJECUCION;
	if(@count=0) 
	insert into CNF_NOTIFICACION values (@ID_EJECUCION, @ID_CONFIGURACION, @CORREO, 1, GETDATE());
	
	if(@count>0)
	update CNF_NOTIFICACION set FECHA_ENVIO = GETDATE() where ID_EJECUCION = @ID_EJECUCION and ID_EJECUCION = @ID_EJECUCION;
GO
/****** Object:  StoredProcedure [dbo].[sp_insoact_configuracion]    Script Date: 9/07/2024 22:56:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_insoact_configuracion]
	@JSONREGISTROS NVARCHAR(max),
	@ID_CNF INT OUTPUT
as
declare
	@USUARIO nvarchar(50),
	@AREA_RESPONSABLE NVARCHAR(100),
	@AREA_SOLICITANTE NVARCHAR(100),
	@CORREO NVARCHAR(50),
	@DESCRIPCION NVARCHAR(MAX),
	@PERIODICIDAD NVARCHAR(25),
	@ANTICIPACION INTEGER,
	@DIAPUBLICACION DATE,
	@SANCION DECIMAL(18,2),
	@ESTADO INT,
	@USUARIOMODIFICA NVARCHAR(50),
	@TIPOTRANS INT,
	@ID_CONFIGURACION INT

	
		select @ID_CONFIGURACION = id_conf, @USUARIO = usuario, @AREA_RESPONSABLE = area_responsable, @AREA_SOLICITANTE = area_solicitante, @CORREO = correo, 
		@DESCRIPCION = descripcion, @PERIODICIDAD = periodicidad, @ANTICIPACION = anticipacion, @DIAPUBLICACION = diapub, @SANCION = sancion, 
		@ESTADO = estado, @USUARIOMODIFICA = usuariomodifica, @TIPOTRANS = tipotransaccion
		from openjson(@JSONREGISTROS) with(id_conf int, usuario nvarchar(50), area_responsable nvarchar(100), area_solicitante nvarchar(100),
		correo nvarchar(50), descripcion nvarchar(max), periodicidad nvarchar(25), anticipacion int, diapub date, sancion decimal(18,2), estado int,
		usuariomodifica nvarchar(50), tipotransaccion int)
	
	if(@TIPOTRANS = 1) 
		insert into CNF_CONFIGURACION (USUARIO, AREA_RESPONSABLE, AREA_SOLICITANTE, CORREO, DESCRIPCION, PERIODICIDAD,
		ANTICIPACION, SANCION, ESTADO, FECHA_REGISTRO, DIAPUBLICACION)
		values
		(@USUARIO, @AREA_RESPONSABLE, @AREA_SOLICITANTE, @CORREO, @DESCRIPCION, @PERIODICIDAD, @ANTICIPACION, @SANCION,
		@ESTADO, GETDATE(), @DIAPUBLICACION);		
	
	if(@TIPOTRANS = 2)
		update CNF_CONFIGURACION set USUARIO = @USUARIO, AREA_RESPONSABLE = @AREA_RESPONSABLE,
		AREA_SOLICITANTE = @AREA_SOLICITANTE, CORREO = @CORREO, DESCRIPCION = @DESCRIPCION,
		PERIODICIDAD = @PERIODICIDAD, ANTICIPACION = @ANTICIPACION, DIAPUBLICACION = @DIAPUBLICACION, SANCION = @SANCION,
		USUARIO_MODIFICACION = @USUARIOMODIFICA, FECHA_MODIFICACION = GETDATE()
		where ID_CONFIGURACION = @ID_CONFIGURACION;
GO
/****** Object:  StoredProcedure [dbo].[sp_trae_notificaciones]    Script Date: 9/07/2024 22:56:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_trae_notificaciones]
as
select a.ID_CONFIGURACION, b.ID_EJECUCION, a.CORREO, a.DESCRIPCION from CNF_CONFIGURACION as a
inner join CNF_EJECUCION as b on b.ID_CONFIGURACION = a.ID_CONFIGURACION
where a.ESTADO = 1 and DATEDIFF(DAY, a.DIAPUBLICACION, GETDATE()) <= a.ANTICIPACION;
GO
/****** Object:  StoredProcedure [dbo].[sp_ver_evidencia]    Script Date: 9/07/2024 22:56:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_ver_evidencia]
	@idconf int,
	@idejec int
as
	select IMAGEN
	from CNF_EJECUCION
	where ID_CONFIGURACION = @idconf and ID_EJECUCION = @idejec;
GO
/****** Object:  StoredProcedure [dbo].[sp_ver_reportes_vencidos]    Script Date: 9/07/2024 22:56:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_ver_reportes_vencidos]
as
update CNF_EJECUCION set estado = 2
where estado = 0 and DATEDIFF(day, FECHA_REGISTRO, cast(getdate() as date)) > 0;

update CNF_CONFIGURACION set ESTADO = 2
where estado = 1
and ID_CONFIGURACION in (select ID_CONFIGURACION from CNF_EJECUCION where estado in (2))
GO
/****** Object:  StoredProcedure [dbo].[sp_verareas_res]    Script Date: 9/07/2024 22:56:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_verareas_res]
as
select -1 as llave, 'Seleccione Area' as valor
union all
select id_area as llave, dsarea as valor from AREAS_RESPONSABLES;
GO
/****** Object:  StoredProcedure [dbo].[sp_verareas_soli]    Script Date: 9/07/2024 22:56:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_verareas_soli]
as
select -1 as llave, 'Seleccione Area' as valor
union all
select id_area as llave, dsarea as valor from AREAS_SOLICITANTES
GO
/****** Object:  StoredProcedure [dbo].[sp_verconfiguracionrpt]    Script Date: 9/07/2024 22:56:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_verconfiguracionrpt]
as
select ID_CONFIGURACION, USUARIO, AREA_RESPONSABLE, AREA_SOLICITANTE, CORREO, DESCRIPCION, PERIODICIDAD, ANTICIPACION,
DIAPUBLICACION AS FECHA_PUBLICACION, SANCION, CASE ESTADO WHEN 0 THEN 'PENDIENTE' WHEN 1 THEN 'FINALIZADO' ELSE 'VENCIDO' END as ESTADO, FECHA_REGISTRO,
USUARIO_MODIFICACION, FECHA_MODIFICACION from CNF_CONFIGURACION;
GO
/****** Object:  StoredProcedure [dbo].[sp_vermonitor]    Script Date: 9/07/2024 22:56:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_vermonitor]
as
select ID_CONFIGURACION, ID_EJECUCION, DESCRIPCION, FECHA_COMPROMISO, CASE ESTADO WHEN 0 THEN 'PENDIENTE DE CARGA' ELSE 'EVIDENCIA CARGADA' END AS IMAGEN, FECHA_REGISTRO_IMAGEN as FECHA_REG_IMG,  
CASE ESTADO WHEN 0 THEN 'PENDIENTE' WHEN 1 THEN 'FINALIZADO' ELSE 'VENCIDO' END as ESTADO, FECHA_REGISTRO
from CNF_EJECUCION;
GO
/****** Object:  StoredProcedure [dbo].[sp_verusuarios]    Script Date: 9/07/2024 22:56:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_verusuarios]
as
select '...' as llave, 'Seleccione Usuario' as valor
union all
select ID_USUARIO as llave, usuario as valor from USUARIOS;
GO
